.wrapper {
  width: 100%;
  max-width: 20rem;
  margin: 1rem;
  border-radius: 2rem;
  padding: 2rem;
  overflow: auto;
}

.bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
