.wrapper {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  width: 100%;
  margin-left: 0.5rem;
  border-radius: 2rem;
  padding: 0 1rem;
  flex-grow: 1;
  position: relative;
}

.inner {
  position: absolute;
  left: 0;
  width: 100%;
  filter: brightness(0.6);
  height: 100%;
  background: #000;
  opacity: 0.1;
  z-index: 0;
}

.wrapper button {
  border: 0;
  background-color: transparent;
  color: #efefef;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}
